<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThreadStone</title>
</head>
<body>
    <!--
    <a href="/output">
        <input type="button" value="onedrive load" />
    </a>
    <a href="/download">
        <input type="button" value="file download" />
    </a>
    <a href="/upload">
        <input type="button" value="file upload" />
    </a>
    -->
    <button><a href = "/output">onedrive load</a></button> <!-- creates a new folder-->
    <button><a href = "/download">file download</a></button>
    <button><a href = "/upload">file upload</a></button>
    <form id="search">
        <input required placeholder="Search for a File" />
        <button>Search</button>
    </form>

    <!-- searching for which category/folder to work on -->
    <form class = task id="packaging">
        <a href="/packaging">
            <input type="button" value="Packaging" />
        </a>
    </form>

    <form class = task id="manufacturing">
        <a href="/manufacturing">
            <input type="button" value="Manufacturing" />
        </a>
    </form>

    <form class = task id="inspection">
        <a href="/inspection">
            <input type="button" value="Inspection" />
        </a>
    </form>

    <form class = task id="po">
        <a href="/PO">
            <input type="button" value="Purchase Order" />
        </a>
    </form>
    <script src="js/search.js"></script>
</body>
</html>